Package: com.jerrytian.shortlook.plugin.contact-photo.qq
Name: QQ Profile Pictures for ShortLook
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Version: 1.0.1
Architecture: iphoneos-arm
Description: Show QQ/TIM users' profile pictures in ShortLook when you receive a QQ/TIM notification!
Maintainer: Jianan Tian
Author: Jianan Tian
Section: Tweaks (ShortLook)
